In [1]:
my_list =[1,2,3,4,5]

In [2]:
my_list

[1, 2, 3, 4, 5]

In [3]:
my_list[0]

1

In [4]:
my_list

[1, 2, 3, 4, 5]

In [5]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

In [6]:
# house information as list of lists

house = [["hallway", hall],["kitchen", kit],["living room", liv],['bedroom', bed],['bathroom', bath]]

In [7]:
 #printing content of the list 'house'      
print(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

In [8]:
# Print out the type

print(type(house))

<class 'list'>

# subsetting lists

In [9]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

In [10]:
# Print out second element from areas
print(areas[1])

11.25

In [11]:
# Print out last element from areas
print(areas[-1])

9.5

In [13]:
# Sum of kitchen and bedroom area: eat_sleep_area

eat_sleep_area = areas[3]+areas[7]
eat_sleep_area

28.75

In [14]:
print(eat_sleep_area)

28.75

In [15]:
# Use slicing to create downstairs
downstairs = areas[:6]

In [17]:
downstairs

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]

In [18]:
# Alternative slicing to create upstairs

upstairs = areas[6:]

In [19]:
upstairs

['bedroom', 10.75, 'bathroom', 9.5]

In [20]:
# Change "living room" to "chill zone"

areas[4] = "chill zone"

In [21]:
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

In [22]:
# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ['poolhouse',24.5]

In [23]:
# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1+['garage' , 15.45]

In [25]:
print(areas_1)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 9.5, 'poolhouse', 24.5]

In [26]:
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 9.5, 'poolhouse', 24.5, 'garage', 15.45]

### deleting elements in lists

In [27]:
#delete the first element in the list
del(areas_2[0])

In [28]:
print(areas_2)

[11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 9.5, 'poolhouse', 24.5, 'garage', 15.45]

### deleting the next 4 elements in the list

In [29]:
del(areas_2[0:5])
print(areas_2)

['bedroom', 10.75, 'bathroom', 9.5, 'poolhouse', 24.5, 'garage', 15.45]

### copying lists

In [38]:
num = [11.25, 18.0, 20.0, 10.75, 9.50]

In [39]:
# Create a copy of the num list by maintaining the original content of the num list
num_copy = list(num)

In [40]:
# Change areas_copy
num_copy[0] = 5.0

In [41]:
print(num_copy)

[5.0, 18.0, 20.0, 10.75, 9.5]

In [42]:
print(num)

[11.25, 18.0, 20.0, 10.75, 9.5]

# working with functions

In [44]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

In [45]:
# Print out type of var1
print(type(var1))

<class 'list'>

In [47]:
# Print out length of var1
print(len(var1))

4

In [48]:
num

[11.25, 18.0, 20.0, 10.75, 9.5]

In [50]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

In [51]:
# Paste together first and second: full
full = first+ second
print(full)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [52]:
# Sort full in descending order: full_sorted

full_sorted = sorted(full, reverse= True)

In [53]:
full_sorted

[20.0, 18.0, 11.25, 10.75, 9.5]

In [ ]:
#sorting in ascending order

In [54]:
sorted(full)

[9.5, 10.75, 11.25, 18.0, 20.0]

# working with methods

In [55]:
# string to experiment with: place
place = "poolhouse"

In [56]:
#changint to uppercase
place.upper()

'POOLHOUSE'

In [57]:
#changing to lowercase

place.lower()

'poolhouse'

In [60]:
#count the total number of occurencies of o in the place holder
place.count('o')

3

In [67]:


# Create list ques
ques = [11.25, 18.0, 20.0, 10.75, 9.50,18,18,18,18,18,18,18,18,19,16,9,19,9,8,8,8,5,4,7,6,3,9,8,5,5,8,5,8,5,8,5,8,5,8,5,8,5,8,5,8,5,8,5,8,5]

In [69]:
# Print out the index of the element 20.0
print(ques.index(20.0))

2

In [70]:
ques.index(11.25)

0

In [72]:
# Print out how often 18 appears in areas
print(ques.count(18))

9

In [73]:
ques.count(8)

14

In [74]:
ama= [2,5,8,2,5,7]

In [76]:
ama+[12]

[2, 5, 8, 2, 5, 7, 12]

In [77]:
ama.append(2)

In [78]:
ama

[2, 5, 8, 2, 5, 7, 2]

# working with paackages

In [79]:
# Definition of radius
r = 0.43

In [80]:

# Import the math package
import math

In [81]:
# Calculate C
C = 2*math.pi*r

In [82]:
#importing a specific library in the math package
from math import pi

In [83]:
print(type(C))

<class 'float'>

In [84]:
# Calculate A
A = math.pi*math.pow(r,2)

In [85]:
# Build printout
print("Circumference: " + str(C))

Circumference: 2.701769682087222

In [86]:
print("Area: " + str(A))

Area: 0.5808804816487527